/* Estilos generales del carrusel */
section.categoria,
section.carrusel {
  margin: 2rem 0;
  position: relative;
}

h2 {
  font-size: 1.8rem;
  margin: 0 0 1rem 1rem;
  color: #fff;
}

.peliculas-carrusel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 2rem;
  gap: 1rem;
  box-shadow: #000000;
}

.pelicula-item {
  flex: 0 0 calc(20% - 1rem);
  /* 5 por fila */
  height: 20vw;
  background-color: #222;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.pelicula-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease-in-out;
}

/* Hover: mostrar detalles */
.pelicula-item:hover {
  transform: scale(1.05);
}

.pelicula-item h3,
.pelicula-item .anio,
.pelicula-item .descripcion {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  color: #fff;
  padding: 0 0.5rem;
  z-index: 2;
}

.pelicula-item h3 {
  bottom: 6.5rem;
  left: 0;
  right: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.pelicula-item .anio {
  bottom: 5.3rem;
  left: 0;
  right: 0;
  font-size: 0.9rem;
  font-weight: bold;
}

.pelicula-item .descripcion {
  bottom: 1.9rem;
  left: 0;
  right: 0;
  font-size: 0.85rem;
  max-height: 4rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* 👈 Número de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Mostrar info en hover */
.pelicula-item:hover h3,
.pelicula-item:hover .anio,
.pelicula-item:hover .descripcion {
  opacity: 1;
}

/* Botones laterales */
.carrusel-btn {
  background-color: #ffffff;
  width: 50px;
  /*Añadido*/
  height: 50px;
  /*Añadido*/
  border: none;
  cursor: pointer;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.3s ease;
  opacity: 0.8;
}

/* Ocultar scroll horizontal nativo */
.peliculas-carrusel::-webkit-scrollbar {
  display: none;
}

.peliculas-carrusel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.informacion-deslizable {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 50%;
  /* Ocupa toda la tarjeta */
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  transition: bottom 0.3s ease;
  overflow-y: auto;
}

.pelicula-item:hover .informacion-deslizable {
  bottom: 0;
}

.botones-card {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
  gap: 3px;
}

.btn-play,
.btn-ver-mas {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn-play:hover,
.btn-ver-mas:hover {
  transform: scale(1.1);
}